@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* playfair */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* weather font */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

/* italiana */
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body{
    /* font-family: sans-serif; */
    height: auto;
    color: black;
    font-family: "Abril Fatface", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2EDE6;
}

/* ----------------------- header ---------------------- */

header{
    padding: 10px;
    color: rgb(46, 46, 46);    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid black;
}

.header-div{
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.logodiv{
    font-size: 35px;
}

nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: auto;
    visibility: visible;
    gap: 20px;
    width: 60%;
}

chevron-down-outline{
    margin-left: 9px;
}

#menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
}

nav a{
    position: relative;
    font-size: 19px;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    font-family: Roboto Slab;
}

a:after{
    content: "";
    position: absolute;
    background-color: #2e2d2d;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover:after{
    width: 100%;
    transition: 1s;
}
a:hover{
    color: #000;
}

.news-holder {
    position: relative;
}

#news-types {
    display: none;
    position: absolute;
    top: 35px; 
    left: 0;
    background-color: #F2EDE6;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    width: 180px;
    padding: 10px 0;
    opacity: 0; 
    visibility: hidden; 
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
    z-index: 10; 
}

.news-holder a {
    cursor: pointer; 
    font-size: 18px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
}

.news-holder a ion-icon {
    margin-left: 5px;
    font-size: 20px;
}

#news-types ul {
    list-style: none;
}

#news-types ul li {
    padding: 10px 20px;
    color: #000000;
    font-size: 16px;
    transition: background-color 0.2s ease, padding-left 0.2s ease;

}

#news-types ul li:hover {
    background-color: #e0dddd;
    padding-left: 25px; 
}

#news-types.show {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.news-holder a.open ion-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

/* ------------------------ */
main {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-radius: 2px;
    /* font-family: Roboto Slab; */
    font-family: Dosis;
    position: relative;
    z-index: 1;
    margin-bottom: 100px ;
}



/*  contact-page */
/* contact page ---------------------------------------------------*/

.contact-page {
    font-family:Playfair Display;

    width: 90%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 27px;
    /* gap: 60px; */
    margin-top: 50px;
    height: auto;
    align-items: center;
    display: none;
}

.imgDiv {
    min-width: 450px;
    height: 700px;
}
.imgDiv img{
    width: 100%;
    height: 100%;
}

.contact {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-evenly; */
    height: 80%;
    padding: 20px;
    margin-left: 20px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height: 80%;
    margin-top: 30px;
    align-items: center;
}
.h1 {
    font-size: 4.5vw;
    letter-spacing: 1.2px;
    /* font-family: Lato; */
}
.contact form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.input-box {
    width: 100%;
    height: 90px;
}


.contact-page input {
    padding: 20px;
    width: 95%;
    border: none;
    outline: none;
    font-size: 22px;
    border-bottom: 3px solid black;
    background: none;
}



.contact-page input[type="button"] {
    border-radius: 40px;
    background-color: black;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1.3px;
    margin-top: 50px;
}

.contact-info{
    min-width: 20%;
    height: 70%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info-detalize{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: auto;
    text-align: center;
    gap: 15px;
}
.socials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 232px;
    height: 40px;

}
.socials span{
    width: 39px;
    height: 39px;
}
.socials span img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
b{
    font-weight: 700;
}

.contact-page input[type=button]:hover{
    background-color: #e4d3d3;
    color: #000;
    transition: 1s;
}
/* @media (max-width: 1750px) {
    .contact-info{
        width: 90%;
        height: 120px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .info-detalize{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: auto;
        text-align: center;
        width: 100%;
    }
    .socials{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 232px;
        height: auto;
    
    }
} */

@media (max-width:1730px) {
.contact-page{
    height: auto;
    padding-bottom: 40px;

}
.contact{
    margin-left: 0px;

}
.contact-info{
    width: 90%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.info-detalize{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: auto;
    text-align: center;
    width: 100%;
}
.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 232px;
    height: auto;

}
}

@media (max-width:1430px) {

    .contact-page{
        height: auto;
        flex-direction: column;
        padding-bottom: 40px;
    }
    .imgDiv {
        min-width: 100%;
        height: 400px;
        background: url(socials/contact-img.png) no-repeat no-repeat center;
        background-position:center;

    }
    .imgDiv img{
        display: none;
    }
    .contact{
        width: 90%;
        align-items: center;
        margin-left: 0px;
    }

}


@media (max-width:780px) {
    .imgDiv{
        display: none;
    }
    .contact-page{
        height: auto;
        padding: 30px;
        width: 80%;

    }
    .contact{
        margin-left: 0px;

    }
    .h1{
        font-size: 7vw;
    }
    input{
        padding: 15px;
    }
    input[type="button"]{
        margin-top: 10px;
    }
    .contact{
        width: 100%;
    }
    .contact-info{
        font-size: 2vw;
    }
}

/*  --------------------------- contact page---------------------------------------------------*/







#map-container {
    margin: 0;
    margin-bottom: 50px;
    width: 100%;
    height: 300px;
}

#map {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid gray;
    margin: 0;
}

#location-search {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-family: Dosis;
    padding: 0px 30px;
}

#searchDiv {
    width: 40%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    padding: 0px 60px;
}

#location-search label {
    margin: 0px 0px 20px 0px;
    font-size: 24px;
    
}

#location-search input {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 2px;
    height: 50px;
    font-size: 16px;
}

#location-weather {
    width: 100%;
    margin: 0;
}

#current-weather {
    width: 70%;
    display: flex;
    height: 250px;
    border-radius: 4px;
    justify-content: space-around;
    background-image: linear-gradient(315deg, #4D96FF, #FFFFFF);    color: black;
    box-shadow: 0px 4px 8px rgba(78, 196, 230, 0.3);
    letter-spacing: 1.3px;
}

#current-weather p {
    font-size: 20px;
}

#current-weather-icon {
    max-width: auto;
    max-height: auto;
}

#first-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

#currentTemps {
    display: flex;
    gap: 15px;
}

#current-wind {
    display: flex;
    align-items: center;
    gap: 5px;
}

#first-div img {
    width: 100px;
    height: 100px;
}

#second-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 0px;
}

#daily-div {
    padding: 40px 30px;
}

#hourly-div {
    margin-top: 25px;
    margin-bottom: 90px;
    padding: 0px 30px;
}

#daily-weather-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.daily-weather-h2{
    font-size: 30px;
}

.weather-day {
    width: 23%;
    height: 293px;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    color: #000000;
    box-shadow: 0 0 15px rgba(187, 239, 232, 0.911), 0 1px 3px rgba(0, 0, 0, 0.1);
    letter-spacing: 1.3px;
}

.temperature-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.wind-p, .humidity-p {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.weather-day img {
    max-width: 63px;
    max-height: 63px;
}

#houly-weather-div {
    margin-top: 20px;
}

.hourly-weather-hour {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-top: 8px;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 5px;
    box-shadow: 0 4px 20px rgba(187, 239, 232, 0.8), 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 19px;
    letter-spacing: 1.3px;
}

.hourly-weather-hour:hover{
    background-color: #bff4f5a7;
    transition: 1s;
}

.hourly-weather-hour > * {
    flex: 1;
    text-align: center;
}

@media (max-width: 880px) {
    .hourly-weather-hour > * {
        font-size: 12px;
    }

    .hourly-weather-hour img {
        width: 43px;
        height: 43px;
    }

    .precip-icon {
        width: 33px !important;
        height: 33px !important;
    }
}

.hourly-weather-hour img {
    max-width: 53px;
    max-height: 53px;
    object-fit: contain;
    margin: 0 auto;
    padding: 0px;
    
}

.leaflet-tooltip {
    width: 200px !important;
    height: auto !important;
    max-width: none !important;
    overflow: visible !important;
    text-wrap: wrap !important;
}

#fetch-weather-btn {
    margin-top: 20px;
    width: 200px;
    text-transform: uppercase;
    font-weight: bold;
    background-image: linear-gradient(144deg,#dfcbed, #6df1ef 50%);
    border-radius: 8px;
    border: 0;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: black;
    font-size: 15px;
    padding: 10px;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
}

#fetch-weather-btn:hover {
    background-image: linear-gradient(144deg,#d0b5e4, #edf5bf 50%,#ebc000b8);
}

/* locational news */

#location-news-search {
    width: 100%;
    margin: auto;
    padding: 20px 40px;
}

#locations-news-search-header{
    width: 100%;
    height: 333px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-image: url(https://media.istockphoto.com/id/1335852418/vector/modern-world-map-made-of-lines-and-dots-on-dark-blue-background.jpg?s=612x612&w=0&k=20&c=XfJWcVZDH4MSZgS187PtdL3UNC00u4x6CQr2YQBSAzA=);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    background-position: center bottom;
}

#location-news-input-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 60%;
    height: auto;
    position: relative;
}

#location-news-input-div h1 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    font-family: Italiana;
}

#location-news-search input {
    padding: 18px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
}

#fetch-location-news-btn {
    position: absolute;
    bottom: 7px;
    right: 5px;
    width: auto;
    padding: 13px 23px;
    margin-top: 20px;
    background: linear-gradient(135deg, #bbb4be, #181e32, #2e2d3b);
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    font-family: Italiana;
}

#fetch-location-news-btn:hover {
    background: linear-gradient(135deg, #412B6D,#6086AE);
    color: white;
}

#location-news-div {
    width: 100%;
    margin: auto;
    padding: 40px;
    overflow: hidden;
}

#news-categories-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    font-family:  Roboto Slab;
    font-weight:400;
    gap: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    grid-template-areas:
        "item1 item2 item2"
        "item3 item3 item4"
        "item5 item6 item7"
        "item8 item9 item10"
        "item11 item11 item12"
        "item13 item14 item14"
        "item15 item16 item17"
        "item18 item19 item20"
        "item21 item22 item22";
}

.item-1 { grid-area: item1; }
.item-2 { grid-area: item2; }
.item-3 { grid-area: item3; }
.item-4 { grid-area: item4; }
.item-5 { grid-area: item5; }
.item-6 { grid-area: item6; }
.item-7 { grid-area: item7; }
.item-8 { grid-area: item8; }
.item-9 { grid-area: item9; }
.item-10 { grid-area: item10; }
.item-11 { grid-area: item11; }
.item-12 { grid-area: item12; }
.item-13 { grid-area: item13; }
.item-14 { grid-area: item14; }
.item-15 { grid-area: item15; }
.item-16 { grid-area: item16; }
.item-17 { grid-area: item17; }
.item-18 { grid-area: item18; }
.item-19 { grid-area: item19; }
.item-20 { grid-area: item20; }
.item-21 { grid-area: item21; }
.item-22 { grid-area: item22; }

.news-grid-item {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    object-fit: contain;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.news-grid-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.news-grid-item h3 {
    font-size: 16px;
    margin: 10px 0;
}

.news-grid-item p {
    font-size: 14px;
    color: #555;
}

.news-grid-item a {
    margin-top: 10px;
    text-align: center;
    display: block;
    color: #007bff;
    text-decoration: none;
}

.spinner {
    display: inline-block;
}

.spinner i {
    font-size: 18px;
}

.hidden-weather-day {
    display: none;
}

.daily-toggle-button, .hour-toggle-button {
    border: none;
    background-color: white;
    font-size: 18px;
    font-family: Dosis;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #53dad5;
}

.daily-toggle-button {
    margin-top: 20px;
}

.hour-toggle-button {
    margin-top: 20px;
}

.daily-toggle-button:hover, .hour-toggle-button:hover {
    color: #25807D;
}

.hidden-hour {
    display: none;
}

#news-category-btn-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#news-category-btn-div button {
    font-size: 18px;
    border: none;
    background-color: white;
    text-decoration: underline;
    text-decoration-color: #53dad5;
    cursor: pointer;
    font-family:  Roboto Slab;
    font-weight:400;
}

#news-category-btn-div button:hover {
    color: #40a4a1;
}

/* footer */
.news-footer {
    font-family: Roboto Slab;
    background-color: #000000;
    color: #ffffff;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 5px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
}
@media (max-width: 1650px) {
    .footer-container{
        flex-wrap: wrap;
    }
    .social-media{
        display: flex;
        flex-direction: column;
    }
    nav{
        width: 50%;
    }
}
.newsletter {
    flex: 1;
    min-width: 300px;
}

.newsletter h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.newsletter form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.newsletter input {
    padding: 10px;
    width: 250px;
    border: 1px solid rgb(252, 250, 250);
    border-radius: 5px;
    outline: none;
    background: none;
    color: #fcf7f7;
    margin: 0;
}

.newsletter button {
    padding: 11px;
    background: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(253, 250, 250);
    cursor: pointer;
}

.newsletter button:hover {
    background-color: #f8f9f9;
    color: #090909;
    transition: 0.6s;
}

.footer-links {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.links-column {
    flex: 1;
    min-width: 200px;
}

.links-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #fcf7f7;
    letter-spacing: 1.3px;
}

.links-column ul {
    list-style: none;
    padding: 0;
}

.links-column ul li {
    margin-bottom: 10px;
}

.links-column ul li a {
    color: #f6fafa;
    text-decoration: none;
    font-size: 15px;
}

.links-column ul li a:hover {
    color: #717375;
}

.contact-info {
    flex: 1;
    min-width: 250px;
}

.contact-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #f8f3f3;
    letter-spacing: 1.3px;
}

.contact-info p {
    margin: 5px 0;
}
.contact-info p a{
    color: #fff;
}

.social-media {
    flex: 1;
    min-width: 250px;
}

.social-media h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #f4f0f0;
    letter-spacing: 1.3px;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.social-icon {
    color: #f6efef;
    text-decoration: none;
    background: none;
    border: 1px solid rgb(251, 247, 247);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.social-icon:hover {
    background-color: #ffffff;
    color: #000000;
    transition: 0.7s;
}

@media (max-width: 1200px) {
    
    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-div {
        /* gap: 200px; */
        width: 80%;
    }
    nav{
        visibility: visible;
        width: 90%;
    }
    .h1-main {
        top: 150px;
        left: 100px;
        width: 600px;
    }

    .main-slider {
        height: 70vh;
    }

    .grid-example {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .about {
        flex-direction: column;
        gap: 40px;
    }

    .about-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        padding: 0;
        height: auto;
    }
    #current-weather{
        width: 100%;
        margin-top: 40px;
    }
    #searchDiv{
        width: 80%;
        align-items: center;
    }

    #search-div input{
        width: 100%;
    }
}

@media (max-width: 1108px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "item1 item2"
            "item3 item3"
            "item4 item5"
            "item6 item7"
            "item8 item8"
            "item9 item10"
            "item11 item12"
            "item13 item13"
            "item14 item15"
            "item16 item17"
            "item18 item19"
            "item20 item21"
            "item22 item22";
    }
}

@media (max-width: 1118px) {
    .users-article-card {
        flex: 1 1 calc(50% - 10px); /* 2 cards per row */
    }
    footer{
        width: 100%;
    }
}

@media (max-width: 952px) {
    #news-categories-container {
        justify-content: center !important;
    }
}

@media (max-width: 940px) {
    .header-div{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
        width: 90%;
    }
    #menu{
        display: block;
    }
    nav{
        display: flex;
        flex-direction: column;
        width: 70%;
        position: absolute;
        top: 45px;
        z-index: 11111111111111111111;
        right: 2px;
        background-color: #fff;
        padding: 20px 0px;
        opacity: 0;
        visibility: hidden;
        
    }

    nav.visible{
        opacity: 1;
        visibility: visible;
    }

    nav a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease,
    }
    nav.visible a {
        opacity: 1;
        transition-delay: 0.1s;
    }
    .news-holder{
        width: 100%;
    }
    #news-a{
        width: 100%;
    }
    a:after{
        bottom: -1px;

    }
    .header-div nav a:hover {
        background-color: #e0dddd;
        padding-left: 25px; 
        cursor: pointer;
    }
}

@media (max-width: 850px) {
    #news-categories-container {
        justify-content: center !important;
    }

    main {
        width: 100% !important;
    }
   
    #location-search{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }
    #searchDiv{
        width: 93%;
    }

    #current-weather{
        margin-top: 30px;
    }
    
}

@media (max-width: 790px) {
    #current-weather {
        width: 100%;
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    #first-div, #second-div {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 640px) {
    footer{
        padding: 0;
    }
    .footer-container{
        padding: 0;
    }
}

@media (max-width: 680px) {
    .weather-day {
        width: 45%;
    }
}

@media (max-width: 400px) {
    .weather-day {
        width: 100%;
    }

    .newsletter input {
        width: 100% !important;
    }

}

@media (max-width: 500px) {
    #current-wind {
        flex-direction: column;
        text-align: center;
        margin-top: 8px;
    }
}

@media (max-width: 880px) {
    .hourly-weather-hour > * {
        font-size: 12px;
    }

    .hourly-weather-hour img {
        width: 43px;
        height: 43px;
    }

    .precip-icon {
        width: 33px !important;
        height: 33px !important;
    }
}

@media (max-width: 840px) {
    footer {
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .social-icons {
        justify-content: center;
    }

    .social-icon {
        margin: 5px;
    }
}

@media (max-width: 773px) {
    #location-news-input-div {
        width: 90%;
    }

    .news-footer {
        padding: 30px 0;
        width: 100%;
    }
    nav{
        visibility: visible;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 90%;
    }
    
    .newsletter {
        flex: none;
        min-width: 100%;
        text-align: center;
    }
    
        .newsletter form {
            flex-direction: column;
            align-items: center;
        }
    
        .newsletter input {
            width: 100%;
            max-width: 250px;
        }
    
        .footer-links {
            display: block;
            text-align: center;
            gap: 20px;
        }
    
        .links-column {
            width: 100%;
            margin-bottom: 20px;
        }
    
        .links-column h3,
        .contact-info h3,
        .social-media h3 {
            font-size: 20px;
        }
    
        .contact-info,
        .social-media {
            text-align: center;
        }
    
        .social-media {
            width: 100%;
        }
    
        .social-icons {
            display: flex;
            justify-content: center;
            gap: 15px;
        }
    
        .social-icon {
            padding: 8px 16px;
        }
        footer{
            padding: 0;
            width: 100%;
            border-radius: none;
        }
}

@media (max-width: 640px) {

   
    .header-div{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
        width: 90%;
    }
    #menu{
        display: block;
    }
    .header-div nav{
        display: flex;
        flex-direction: column;
        width: 50%;
        position: absolute;
        bottom: -280px;
        z-index: 11111111111111111111;
        right: -30px;
        background-color: #fff;
        visibility: hidden;
        padding-top: 10px ;
    }
    nav a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
    }
    .news-holder{
        width: 100%;
    }
    #news-a{
        width: 100%;
    }
    a:after{
        bottom: -1px;

    }
    .header-div nav a:hover {
        background-color: #e0dddd;
        padding-left: 25px; 
        cursor: pointer;
    }
    .main-slider{
        height: 30vh;
    }

    .h1-main {
        /* position: relative; */
        /* top: 0; */
        /* left: 0; */
        width: 70%;
        text-align: center;
        margin-top: -70px;
    }
    .h1-main h1{
        font-size: 40px;
        margin: 0;
    }
    .h1-main h2{
        font-size: 17px;
        text-align: center;
        width: 100%;
        margin: 0;
        line-height: 20px;
        font-weight: 600;
        
    }

    footer{
        padding: 0;
        width: 100%;
    }
    .footer-container{
        padding: 0;
        border-radius: 0px;
    }

}
@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    .logodiv {
        font-size: 25px;
    }

    nav a {
        font-size: 16px;
    }
    .info-detalize{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: auto;
        text-align: center;
        width: 100%;
    }
    .socials{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 232px;
        height: auto;
    
    }
    #searchDiv{
        padding: 0;
        width: 90%;
    }
} 

@media (max-width:1730px) {
    .contact-page{
        height: auto;
        padding-bottom: 40px;
    
    }
    .contact{
        margin-left: 0px;
    
    }
    .contact-info{
        width: 90%;
        height: 120px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .info-detalize{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: auto;
        text-align: center;
        width: 100%;
    }
    .socials{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 232px;
        height: auto;
    }
}

.open-modal-btn {
    padding: 10px 20px;
    background-color: #f2eecf;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 0 5px black;
}
  
.open-modal-btn:hover {
    background-color: #151515;
    color: #FFF;
}
  
/* Modal */
#add-acrticle-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:  40px;
    font-family: Italiana;
    color: "#000";
    font-weight: 700;
}
.modal h2{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 550;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    overflow: auto;
    /* font-family: Lato; */

}
  
.modal-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 2px;
    width: 40%;
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
}
  
.close-btn {
    position: absolute;
    top: -7px;
    right: 20px;
    font-size: 54px;
    color: #000000;
    cursor: pointer;
}
  
.close-btn:hover {
    color: #555;
}
  
form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
  
form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 1px;
    font-size: 16px !important;
}

form textarea {
    resize: vertical;
    max-width: 100%;
}
  
.save-btn {
    background-color: #e8d4b3;
    color: rgb(19, 19, 19);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    width: 133px;
    font-weight: bold;
    font-family: Dosa;
    letter-spacing: 1.3px;
}
  
.save-btn:hover {
    background-color: #000000;
    color: #FFF;
}

/* Articles Section */
#usersArticlesSection {
    width: 100%;
    margin: auto;
    padding: 0px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Italiana;
}

#usersArticlesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
  
.users-article-card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    object-fit: contain;
    flex: 1 1 calc(33.33% - 10px);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 1118px) {
    .users-article-card {
        flex: 1 1 calc(50% - 10px); /* 2 cards per row */
    }
}
  
.users-article-card h3 {
    color: #4a90e2;
    margin-bottom: 5px;
    font-size: 40px;
}
  
.users-article-card p {
    margin: 5px 0;
    font-size: 20px;
}
  
.users-article-card img {
    width: 100%;
    margin-top: 10px;
}